@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Almendra_SC';
    src: url('/build/fonts/Almendra_SC/AlmendraSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
